$background_principal: #203748;
$background_nav: #f04949;
$color_boton: #39d084;
$color_circulo: #efefef;
$color_letra: #fff;
$color_fb: #5173b6;
$color_tw: #3aa4d2;
$color_gg: #c2564b;
$color_pin: #ba323b;
$color_dd: #cc5c8b;
